units {
  .header-search {
    border-bottom: 1px solid rgba($color-grayMedium, .3);
    position: relative;

    .item {
      background: transparent;
      border: 1px solid rgba($color-grayMedium, .3);
      border-radius: 5px;
      min-height: 1rem;

      .item-inner {
        border: none;

        .label {
          color: $color-grayMedium;
        }

        .label,
        .text-input {
          margin: 7px 5px 7px 0;
          border: none;
        }
      }
    }
  }

  .list {
    margin-top: 15px;
    .item {
      background: transparent;
      border: none !important;

      .item-inner {
        border: none;
      }

      .input-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .label {
          display: block;
          width: 100%;
          font-weight: 500;
        }

        .select {
          display: block;
          max-width: 100%;
          padding: 0;
          border: none;

          .select-text {
            font-weight: 300;
            letter-spacing: 1px;
          }

          .select-icon {
            position: absolute;
            right: 15px;
            top: 13px;
            transform: scale(1.4);
            .select-icon-inner {
              color: $color-primary;
            }
          }
        }
      }

      & + .item {
        margin-top: 15px;
      }

      &:last-child {
        .button {
          font-size: .9em;
          text-transform: uppercase;
          padding: 10px 0;
          height: 34px;
          .icon {
            padding-left: .5em;
          }
        }
      }
    }
  }
}
