<ion-header>
  <app-header titlePage="{{title}}"></app-header>
</ion-header>
<ion-content>
  <div class="messages">
    <!--<div class="message" *ngFor="#m of msgs | async" [ngClass]="{'me': m.sender.id === me.id}">-->
      <!--<img [src]="m.sender.avatar" class="avatar" *ngIf="m.sender.id !== me.id">-->
      <!--{{ m.msg }}-->
      <!--<span class="date">{{ m.dateSent | date:'medium' }}</span>-->
    <!--</div>-->
    <ion-list>
        <ion-item *ngFor="let message of chats">{{message}}</ion-item>
     </ion-list>
    <ion-input class="textarea" type="text" placeholder="Type here!" id="textarea" [(ngModel)]="messages" (keydown.enter)="sendMessage()"></ion-input>
  </div>
</ion-content>