<ion-header>
  <app-header titlePage="{{title}}"></app-header>
</ion-header>

<ion-content padding>

  <div class="colgroup">

    <ion-card>
       <img src="http://lojalevissima.com/media/catalog/product/cache/1/image/640x468/040ec09b1e35df139433887a97daa66f/b/r/broinha_liane.png"/>
       <ion-card-content>
        <ion-card-title>
            Chegou!!!!
        </ion-card-title>
        <p>
          Chegaram as melhores broinhas!!! Corra e garanta já a sua!
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="responsive-col card-home">
    </ion-card>
  </div>

  <div class="colgroup top-space">

    <ion-card>
       <img src="http://lojalevissima.com/media/catalog/product/cache/1/image/640x468/040ec09b1e35df139433887a97daa66f/c/a/camil.jpeg"/>
       <ion-card-content>
        <ion-card-title>
            Deliciaaaa!!!!
        </ion-card-title>
        <p>
          Chegaram poucos, então corre!
        </p>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="colgroup top-space">
    <!--<ion-slides pager>

      <ion-slide>
        <img src="assets/images/SD_Mobile_img1_banner.png" alt="Banner Sobrancelhas Design">
      </ion-slide>

      <ion-slide>
        <img src="assets/images/SD_Mobile_img2_banner.png" alt="Banner Sobrancelhas Design">
      </ion-slide>

      <ion-slide>
        <img src="assets/images/SD_Mobile_img3_banner.png" alt="Banner Sobrancelhas Design">
      </ion-slide>

    </ion-slides>-->
  </div>

</ion-content>
